<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="net.minecrell.terminalconsole">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} | }{FATAL=Bright Cyan, ERROR=Bright Cyan, WARN=Bright Cyan, INFO=Bright Cyan, DEBUG=Bright Cyan, TRACE=Bright Cyan}%highlight{%msg%n}{FATAL=Bright Red, ERROR=Bright Red, WARN=Bright Yellow, INFO=Bright White, DEBUG=Bright Magenta, TRACE=Bright Blue}"/>
        </TerminalConsole>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
